:root {
  --color-primary: #1BBEF5FF;
  --color-primary-bg: rgba(27, 190, 245, 0.20);
  --color-secondary: #1BECA6FF;
  --color-secondary-bg: rgba(27, 236, 166, 0.20);
  --color-btn-sub: #225D67;
  --color-btn-sub-press: #122126;
}